@model SharpbenchWeb.Models.BenchmarkModel

<table>    
    @for (var row = 0; row < Model.BenchmarkData.Rows; row++)
    {
        <tr>
            @for (var column = 0; column < Model.BenchmarkData.Columns; column++)
            {
                <td>
                    @Model.BenchmarkResponse.GetRatio(row, column, r => r.ElapsedTimeTicks)
                </td>
            }
        </tr>
    }
</table>
@if (!Model.BenchmarkResponse.Success)
{
    <pre>@Model.BenchmarkResponse.GetErrors()</pre>
}
@Html.ActionLink("Edit", "Index", "Home")